/* Condensed Universal CSS Reset */

* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: arial;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
  }
  
  /* Stylesheet */
  
  #wrapper {
    width: 970px;
  }
  
  #header1 {
    width: 970px;
    height: 100px;
  }
  
  #header1 img {
    width: 100px;
  }
  
  h1 {
    display: inline-block;
    vertical-align: top;
    padding-top: 30px;
    font-size: 2.5em;
  }
  
  #header1 span {
    color: rgb(35, 100, 160);
  }
  
  #header2 {
    width: 950px;
    margin-top: -15px;
    padding: 10px 0 10px 20px;
    ;
    background: -webkit-linear-gradient(top, rgb(30, 90, 160) 0%, rgb(125, 185, 230) 50%, rgb(30, 90, 160) 100%);
  }
  
  h2 {
    padding-bottom: 5px;
    color: white;
    font-size: 1.75em;
  }
  
  #main {
    width: 970px;
    background: -webkit-linear-gradient(top, rgb(227, 227, 227) 0%, rgb(255, 255, 255) 53%);
  }
  
  #sidebar {
    display: inline-block;
    width: 230px;
    padding: 20px 20px 0 10px;
  }
  
  #sidebar p {
    font-size: 1.2em;
    font-weight: bolder;
  }
  
  #red {
    color: red;
  }
  
  #sidebar p:nth-of-type(2) {
    font-size: 1em;
    padding-top: 10px;
    margin-bottom: 20px;
  }
  
  .blue {
    color: rgb(35, 100, 160);
  }
  
  #top a:nth-of-type(1) {
    display: inline-block;
    text-align: center;
    width: 150px;
    margin: 0 0 5px 25px;
    padding: 5px 0;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 2px grey;
    background: -webkit-linear-gradient(top, rgb(125, 185, 230) 0%, rgb(30, 90, 160) 100%);
  }
  
  #top a:nth-of-type(2) {
    display: inline-block;
    text-align: center;
    width: 150px;
    margin: 0 0 5px 25px;
    padding: 5px 0;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 2px grey;
    background: -webkit-linear-gradient(top, rgb(235, 175, 85) 0%, rgb(240, 115, 0) 100%);
  }
  
  #ad {
    width: 230px;
    margin: 20px 50px 0 0;
    border-top: 1px solid grey;
  }
  
  #ad img:first-of-type {
    width: 230px;
    margin-top: 20px;
  }
  
  #ad p {
    color: white;
    font-size: 1.3em;
    font-weight: normal;
    text-align: center;
    margin-top: -275px;
    padding: 0 10px
  }
  
  #ad img:last-of-type {
    width: 75px;
    padding: 20px 0 0 80px;
  }
  
  #ad a {
    display: inline-block;
    margin: 20px 0 0 40px;
    padding: 5px 20px;
    color: white;
    text-decoration: none;
    background: -webkit-linear-gradient(top, rgb(120, 210, 225) 0%, rgb(50, 200, 225) 50%, rgb(120, 210, 225) 100%);
    box-shadow: 2px 2px black;
    border-radius: 5px;
  }
  
  #arrow {
    font-size: .7em;
  }
  
  #content {
    display: inline-block;
    vertical-align: top;
    width: 700px;
  }
  
  #content_header {
    border-bottom: 1px solid black;
  }
  
  #content_header img:first-of-type {
    display: inline-block;
    vertical-align: top;
    width: 20px;
  }
  
  #content a:first-of-type {
    display: inline-block;
    vertical-align: top;
    color: rgb(35, 100, 160);
    font-weight: bold;
    text-decoration: none;
  }
  
  #content img:nth-of-type(2) {
    width: 50px;
    margin: 10px 0 0 400px;
  }
  
  #contact {
    display: inline-block;
    vertical-align: top;
    width: 175px;
  }
  
  #content p {
    display: inline-block;
  }
  
  #contact p:first-of-type, p:nth-of-type(3) {
    margin: 0 0 10px 20px;
    font-size: .7em;
    color: grey;
  }
  
  #contact p:nth-of-type(2) {
    margin-left: 30px;
    color: rgb(0, 190, 225);
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .description {
    display: inline-block;
    width: 700px;
    padding-top: 10px;
  }
  
  .description h2 {
    color: rgb(35, 100, 160);
    font-size: 1.4em;
    font-weight: bold;
  }
  
  .aqua {
    color: rgb(0, 190, 225);
  }
  
  .bold {
    font-weight: bold;
  }
  
  li {
    margin: 10px 0 0 30px;
  }
  
  #client {
    width: 400px;
    padding: 40px 0 40px 100px;
  }
  
  #big_three {
    display: inline-block;
    width: 700px;
    padding: 20px 0 10px 20px;
    margin: 20px 0;
    border: 3px solid rgb(0, 135, 225);
  }
  
  #big_three img {
    width: 100px;
  }
  
  #big_three_text {
    display: inline-block;
    width: 550px;
    vertical-align: top;
    padding: 0 0 10px 20px;
  }
  
  #big_three h2 {
    display: inline-block;
    font-size: 1.4em;
    font-weight: bold;
    color: rgb(35, 100, 160);
  }
  
  #big_three p {
    display: inline-block;
    vertical-align: top;
    padding-bottom: 5px;
  }